<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>259055092525-kt3ahgtkfhgdjf2eqnivukjmsp07i1iu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.259055092525-kt3ahgtkfhgdjf2eqnivukjmsp07i1iu</string>
	<key>API_KEY</key>
	<string>AIzaSyA8PmDEq8YIT5gSny6NGPCydY_IWQ6UMaE</string>
	<key>GCM_SENDER_ID</key>
	<string>259055092525</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Haider-sEnterprise.InstagramFirebase</string>
	<key>PROJECT_ID</key>
	<string>instagramfirebase-7874d</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramfirebase-7874d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:259055092525:ios:5385e647c4ea64ea5309a4</string>
	<key>DATABASE_URL</key>
	<string>https://instagramfirebase-7874d.firebaseio.com</string>
</dict>
</plist>